Package: okularpdfreader
Version: 1
Architecture: all
Depends: 
Pre-Depends:
Recommends: 
Maintainer: Bayram Karahan [bayramk@gmail.com]
Conflicts: 
Replaces: 
Provides: okularpdfreader
Description: okularpdfreader eklenti
